.main {
    /* border: dotted red; */
    display: flex;
    justify-content: center;
    align-items: center;

    .badge {
        /* border: dotted red; */
        
        margin: 13px;
        img {
            /* border: dotted red; */
            width: 80px;
        }

    }
}

@media screen and (max-width: 531px) {

    .badge{
        margin: 13px 5px !important;
    }
}