.main {
    /* border: dotted red; */
    display: flex;
    justify-content: center;
    align-items: center;

    .badge {
        /* border: dotted red; */
        margin: 13px;

        position: relative;
        /* text-align: center; */

        svg {
            position: relative;
            left: 50%;
            top: 50%;
            width: 80px;
            transform: translateX(-50%) translateY(9%);

            fill: white;
            /* stroke: orange; */
            /* stroke-width: 3px; */
        }

        /* svg:hover {
            stroke: orange;
            stroke-width: 2px;
        } */

        img {
            /* border: dotted red; */
            position: absolute;
            left: 50%;
            top: 50%;
            width: 80px;
            transform: translateX(-50%) translateY(-50%);
        }
    }

    .badge::after {
        --scale: 0;
        position: absolute;
        left: 50%;
        width: max-content;
        transform: translateY(267%) scale(var(--scale));
        transition: 50ms transform;
        transform-origin: top left;
        content: "Obtained on " attr(tooltip);
        color: white;
        background: var(--raisin-black);
        padding: 0.5rem;
        border-radius: 0rem 0.3rem 0.3rem 0.3rem;
    }

    .badge:hover::after {
        --scale: 1;
    }

    .badge:hover>svg {
        stroke: lightsalmon;
        stroke-width: 3px;
    }

    /* .badge:hover {
        box-shadow: 5px 5px orange;
    } */
}

@media screen and (max-width: 531px) {

    .badge {
        margin: 13px 5px !important;
    }
}