.main {
    /* border: dotted red; */

    width: 100%;
    margin: auto;

    span {
        /* border: dotted red; */
        display: inline-block;

        h1 {
            font-size: 1.5rem;

            margin: 0px;
        }

        h2 {
            font-size: 1.2rem;

            margin: 0px;
        }

        p {
            margin: 0px;
        }

    }

    .mainLeft {
        /* border: dotted red; */

        text-align: left;

        width: 42.25%;
    }

    .mainRight {
        /* border: dotted red; */

        text-align: right;

        width: 42.25%;
    }
}