.main {
    /* border: dotted red; */

    .profile {
        /* background-color: yellow; */
        /* border: dotted red; */

        display: flex;
        /* width: */
        /* margin: auto; */

        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 13px;
        flex-wrap: wrap;

        .description {
            /* border: dotted red; */

            text-align: left;
            /* width: 85%; */
            /* margin: auto; */

            animation: items-appear 800ms ease-out forwards;

            h1 {
                /* border: dotted red; */

                margin: 0px;
                font-size: 1.8em;
            }

            h2 {
                /* border: dotted red; */

                margin: 0px;
                font-size: 1.1em;
            }

            h3 {
                /* border: dotted red; */

                margin: 0px;
                font-size: 1.1em;
            }

            .skills {
                /* border: dotted red; */
                /* margin: auto; */
                margin-top: 21px;
            }

            ul{
                padding-left: 10px;
            }

        }

        .picture {
            /* border: dotted red; */

            display: inline-block;
            margin: 13px;


            img {
                /* margin-left: 21px; */
                max-width: 300px;

                object-fit: cover;
                object-position: center;

                border-radius: 10px;
                box-shadow: 5px 5px 5px #778ba5;

                /* opacity: 0; */
            }
        }

    }

    .summary {
        /* border: dotted red; */

        margin: auto;
        padding: 13px;
        width: 80%;
        color: white;
        background-color: var(--taupe-gray);

        a {
            color: white;
            text-decoration: none;
        }
    }
}

.blurLoad {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    min-height: 300px;
    min-width: 300px
        /* box-shadow: 5px 5px 5px #778ba5; */
}

.blurLoad.loaded {
    opacity: 1;
}

.blurLoad>img {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

@media screen and (max-width: 531px) {
    .picture {
        order: 1;
    }

    .description {
        order: 2;

        width: 85% !important;

        h1 {
            text-align: center;
        }

        h2 {
            text-align: center;
            font-size: 0.7em !important;
        }

        h3 {
            text-align: center;
            font-size: 0.7em !important;
        }

        p {
            text-align: center;
        }
    }

    .summary {
        display: none;
    }
}

@keyframes items-appear {
    from {
        opacity: 0;
        transform: translateY(5rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}