.block {
    /* border: dotted red; */
    /* background-color: red; */

    width: 85%;
    margin: auto;

    /* display: flex; */
    /* justify-content: center-around; */
    .main {
        /* background-color: yellow; */

        /* width: 85%; */
        margin-bottom: 13px;
        /* display: flex; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 13px;
        flex-wrap: wrap;

        .header1--h1 {
            /* border: dotted red; */
            font-size: 2em;
            font-weight: bold;

            flex: 1 0 75%;
            text-align: left;
        }

        .header1--p {
            /* border: dotted red; */

            flex: 1 0 20%;
            text-align: right;
        }

        .header2--h2 {
            /* border: dotted red; */

            font-size: 1.5em;
            font-weight: bold;
            flex: 1 0 75%;
            text-align: left;
        }

        .header2--p {
            /* border: dotted red; */

            flex: 1 0 20%;
            text-align: right;
        }

        .bullets {
            /* border: dotted red; */

            display: inline-block;
            width: 100%;

            ul {
                /* border: dotted red; */

                margin: 0px;

                li {
                    /* border: dotted red; */

                    text-align: left;
                }
            }

        }


        .additional {

            flex: 1 0 55%;

            .n--position {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;

                .header3--h3 {
                    /* border: dotted red; */

                    font-size: 1.2em;
                    font-weight: bold;
                    flex: 1 0 75%;
                    text-align: left;
                }

                .header3--p {
                    /* border: dotted red; */
                    flex: 1 0 20%;
                    text-align: right;
                }
            }
        }
    }
}

@media screen and (max-width: 531px) {

    .main {
        .header1--h1 {
            /* order: 2; */
            flex-basis: 100% !important;
            font-size: 1.3rem !important;
        }

        .header1--p {
            /* order: 1; */
            flex-basis: 100% !important;
            text-align: left !important;
        }

        .header2--h2 {
            flex-basis: 100% !important;
            font-size: 1.2rem !important;
        }

        .header2--p {
            flex-basis: 100% !important;
            text-align: left !important;
            margin-bottom: 5px;
        }

        .header3--h3 {
            flex-basis: 100% !important;
        }

        .header3--p {
            flex-basis: 100% !important;
            text-align: left !important;
        }
    }

}