.App {
  /* border: dotted red; */

  text-align: center;
  max-width: 11in;
  margin: auto;
  padding-top: 1cm;

  box-shadow: 2px 2px 2px 2px  #d0d7e0;

  /* font-family: WorkSans; */
}

@font-face {
  font-family: WorkSans;
  src: url(./Assets/Fonts/WorkSans-Regular.woff2)
}
